
@{
    ViewData["Title"] = "DetailsforCourse";
}

<h1>DetailsforCourse</h1>

<form method="post">
    <label for="Course_Id">Enter the Course Id:</label>
    <input type="number" placeholder="Enter a course id " id="c_Id" name="c_Id"><br>

    <input type="submit" value="Create">
</form>