
@{
    ViewData["Title"] = "Insert_Student_Course";
}

<h1>Insert_Student_Course</h1>


<form method="post">

    <label for="Course_Name">Enter the student id:</label>
    <input type="number" placeholder="Enter a int " id="sId" name="sId"><br>
    
    <label for="Teacher_Id">Enter the Course Id:</label>
    <input type="number" placeholder="Enter a course id " id="c_Id" name="c_Id"><br>

    <input type="submit" value="Create">
</form>

