
@{
    ViewData["Title"] = "Insert_Assignments";
}

<h1>Insert_Assignments</h1>

<form method="post">
    <label for="Teacher_Id">Enter the Course Id:</label>
    <input type="number" placeholder="Enter a course id " id="c_Id" name="c_Id"><br>

    <input type="submit" value="Create">
</form>

public int Assign_Id { get; set; }

        //public int Assign_Name { get; set; }

        public int Course_Id { get; set; }

        public Course Course { get; set; }