
@{
    ViewData["Title"] = "InsertStudents";
}

<h1>InsertStudents</h1>

<form method="post">
    
    <label for="Student_Name">Enter the student name:</label>
    <input type="text" placeholder="Enter a name " id="sname" name="sname"><br>
    
    <input type="submit" value="Create">
</form>

