
@{
    ViewData["Title"] = "InsertTeacher";
}

<h1>InsertTeacher</h1>

<form method="post">

    <label for="Teacher_Name">Enter the teacher name:</label>
    <input type="text" placeholder="Enter a name " id="tname" name="tname"><br>
    <label for="teacher_Id">Enter the teacher id:</label>
    <input type="number" placeholder="Enter a number " id="tid" name="tid"><br>

    <input type="submit" value="Create">
</form>