
@{
    ViewData["Title"] = "InsertCourse";
}

<h1>InsertCourse</h1>

<form method="post">
    
    <label for="Course_Name">Enter the Course name:</label>
    <input type="text" placeholder="Enter a name " id="cname" name="cname"><br>
    <label for="Course_Description">Enter the Course description:</label>
    <input type="text" placeholder="Enter a name " id="cdescription" name="cdescription"><br>
    <label for="Teacher_Id">Enter the  Teacher Id:</label>
    <input type="number" placeholder="Enter a teacher id " id="t_id" name="t_id"><br>
    <input type="submit" value="Create">
</form>

